.input {
    width: 150px;
    height: 20px;
    border: 2px solid #11afdb;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.error {
    background-color: #F09BAE;
    border: 2px solid #F14741;
}

.input:focus {
    outline: none;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    /*border: 2px solid #11afdb;*/
    /*padding: 5px;*/
    /*border-radius: 5px;*/
}

.span {
    color: #11afdb;
    font-size: 20px;
    font-weight: 900;
}
