/*.App {*/
/*    text-align: center;*/
/*}*/

.button-wrapper {
    padding: 5px;
    display: flex;
    gap: 50px;
    border: 2px solid #11afdb;
    border-radius: 10px;
    justify-content: center;
    background-color: #22252D;
}

.number {
    color: #11afdb;
    border-radius: 10px;
    background-color: #22252D;
    border: 2px solid #11afdb;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 20px 0px;
}

.container-wrapper {
    width: 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #22252D;
    border: 2px solid #11afdb;
    padding: 10px;
}
