
/*Сделать переменные!!!*/
/*Сделать переменные!!!*/
/*Сделать переменные!!!*/
/*Сделать переменные!!!*/
/*Сделать переменные!!!*/
/*Сделать переменные!!!*/
/*Сделать переменные!!!*/



.App {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /*margin: 0 auto;*/
    background-color: #22252D;
    height: 100vh;
}

.button-wrapper {
    padding: 10px;
    display: flex;
    gap: 50px;
    border: 2px solid #11afdb;
    /*border: 2px solid green;*/
    border-radius: 10px;
    justify-content: center;
    /*background-color: #22252D;*/
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #11afdb;
    border-radius: 10px;
    padding: 13px 10px;
}

.container-wrapper {
    width: 300px;
    height: 180px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #22252D;
    border: 2px solid #11afdb;
    border: 2px solid red;
    padding: 10px;
}
